{% extends "_layouts/_base" %}
{% set entries = craft.entries.section('blog').status('Live').order('postDate desc').limit(3).find() %}

{# TITLE #}
{% block pageTitle %}Home Page{% endblock %}

{# NAVIGATION #}
{% block navigation %}
	{% set activeNav = "home" %}
	{% include "/_includes/_navigation.html" %}
{% endblock %}

{# MAIN CONTENT #}
{% block content %}

	{# Global Block #}
	{{ globals.homepageIntro }}

	{# If blogposts exists, display the latest 3. #}
	{% for entry in entries %}

		{# begin list on first loop #}
		{% if loop.first %}<h1>Latest Blogposts</h1><ul>{% endif %}
			<li>
				<article>
					<header>
						<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
						<p>Posted on {{ entry.postDate|date("M d, Y") }} in {{ entry.section }} by {{ entry.author }}</p>
					</header>
				</article>
			</li>
		{# end list on last loop #}
		{% if loop.last %}</ul><p><a href="/blog/">All blogposts</a></p>{% endif %}

		{# if nothing found #}
		{% else %}<p>No blogposts currently available</p>

	{% endfor %}

{% endblock %}