{% extends "_layouts/_base" %}
{% set account = blx.users.id(1).first() %}

{# TITLE #}
{% block pageTitle %}About {{ account.firstName }} {{ account.lastName }}{% endblock %}

{# NAVIGATION #}
{% block navigation %}
	{% set activeNav = "about" %}
	{% include "/_includes/_navigation.html" %}
{% endblock %}

{# MAIN CONTENT #}
{% block content %}

	{# get user info (bui is a custom block) #}
	<h1>{{ account.lastName }}, {{ account.firstName }}</h1>
	<div>
		{# blocks added to users #}
		{{ account.bio }}
	</div>

{% endblock %}