{% extends "_layouts/_base" %}

{# some date manipulation #}
{% set currentDate 		= date() %}
{% set daysSincepost 	= currentDate|date("Ymd") - entry.postDate|date("Ymd") %}

{# TITLE #}
{% block pageTitle %}{{ entry.title }}{% endblock %}

{# NAVIGATION #}
{% block navigation %}
	{% set activeNav = "blog" %}
	{% include "/_includes/_navigation.html" %}
{% endblock %}

{# MAIN CONTENT #}
{% block content %}

	<article>
		<header>
			<h1>{{ entry.title }}</h1>
			{% if daysSincepost < 30 %}
				<p>Posted {{ daysSincepost }} days ago in {{ entry.section }} by {{ entry.author }}</p>
			{% else %}
				<p>Posted on {{ entry.postDate|date("M d, Y") }} in {{ entry.section }} by {{ entry.author }}</a></p>
			{% endif %}
			<div>
				{{ entry.summary|raw }}
			</div>
		</header>

		{{ entry.body|raw }}

		<div>

			{# check if tags are found for entry and list them #}
			{% for tag in entry.tags %}

				{# begin list on first loop #}
				{% if loop.first %}<h2>Entry Tags</h2><ul>{% endif %}

					<li>{{ tag }}</li>

				{# end list on last loop #}
				{% if loop.last %}</ul>{% endif %}

				{# if nothing found #}
				{% else %}<p>No tags found</p>

			{% endfor %}

			{# check if linked images are found for entry and list them #}
			{% for image in entry.blogImages %}

				{# begin list on first loop #}
				{% if loop.first %}<h2>Entry Images</h2><ul>{% endif %}

					{# using transformations handles to display the generated thumbnails #}
					<li><img src="{{ image.getUrl('ThumbMedium') }}" /><img src="{{ image.getUrl('ThumbSmall') }}" /></li>

				{# end list on last loop #}
				{% if loop.last %}</ul>{% endif %}

				{# if nothing found #}
				{% else %}<p>No Images found</p>

			{% endfor %}

		</div>

	</article>

{% endblock %}
