{% extends "_layouts/_base" %}

{# TITLE #}
{% block pageTitle %}My Blog{% endblock %}

{# NAVIGATION #}
{% block navigation %}
	{% set activeNav = "blog" %}
	{% include "/_includes/_navigation.html" %}
{% endblock %}

{# MAIN CONTENT #}
{% block content %}

	{# get all blog entries and paginate #}
	{% paginate craft.entries.section('blog').status('Live').order('postDate desc').limit(3) as blogentries %}

		{% for entry in blogentries %}

			{# begin list on first loop #}
			{% if loop.first %}<h2>Blog Posts</h2><ul>{% endif %}

				<li>
					<article>
						<header>
							<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
							<p>Posted on {{ entry.postDate|date("M d, Y") }} in {{ entry.section }} by {{ entry.author }}</p>
						</header>
						<div>
							{{ entry.summary|raw }}
						</div>
					</article>
				</li>

			{# end list on last loop #}
			{% if loop.last %}</ul>{% endif %}

			{# if nothing found #}
			{% else %}<p>No Blogposts available</p>

		{% endfor %}

		{# pagination #}
		{% include "/_includes/_pagination.html" %}

	{% endpaginate %}

	{# yearly archives #}
	<p><a href="/blog/archives/">Yearly archives</a></p>

{% endblock %}