<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ pageTitle }}</title>
</head>
<body>
	<header>
		<h1>Testing BlocksCMS</h1>
		<nav class="mainnav">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/blog/">blog</a></li>
				<li><a href="/about/">about</a></li>
			</ul>
		</nav>
	</header>
	<div role="main">
		{{ content }}
	</div>
</body>
</html>